.banner-text {
  z-index: 1;
  position: absolute;
}


.card-image{

  border-radius: 10px 0 0 10px;

}


.image-container{

  overflow: hidden;
  height: 225px;
  overflow: hidden;


}

.card-category{


  background-color: #a3cef1;

}
